
<div class="tech-btm">
    <h4>Sign up to our newsletter</h4>
    <p>Sign up for our free email newsletter to be notified of new blogs. </p>
    <form>
        <input id="mail" type="email" placeholder="Email" class="tech-btm">
        <input type="submit" id="btn" value="Subscribe" class="btn btn-primary">
    </form>

</div>

<script>
   
        $("#btn").click(function () {
            var values = {Mail:$("#mail").val()};
            $.ajax({
                url: "/NewsLetters/SubscribeMail",
                type: "POST",
                data: values,
                success: function (data) {
                    if (data == "true") {
                        alert("You have successfully subscribed to our newsletter.");
                    }
                    else {
                        alert("You have already subscribed to our newsletter.");
                    }
                }
            });
        });

   
</script>




@*    //$(document).ready(function() {
    //    $("#submitNews").click(function() {
    //        var mail = $("#mail").val();
    //        $.ajax({
    //            url: "/NewsLetters/SubscribeMail/",
    //            type: "POST",
    //            data: { Mail: mail },
    //            //success: function (result) {
    //            //    alert(result);
    //            //}
    //        });
    //    })
    //});
*@





