@model List<Entity.Concrete.Blog>

<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding" style="height:225px">
            <div class="p-m">
                <h1 class="m-xs">Last 3 Blogs</h1>
                <h3 class="font-bold no-margins"></h3>
                <hr />
                <small>
                    @foreach (var item in Model)
                    {
                        <span style="font-size:15px">

                            <img style="width:20px; height:20px;" src="@item.Image" alt=""/> @item.Title
                        <br />
                        </span>
                    }
                </small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Last Blog</h1>
               
                <h3 class="font-bold no-margins">
                    @ViewBag.LastBlogName
                </h3>
                <small>Income form project Beta.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">$ 50,992</h1>

                <h3 class="font-bold no-margins">
                    Half-year revenue margin
                </h3>
                <small>Sales marketing.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>