@{
    ViewData["Title"] = "DownloadBlogList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Downlad Blog list</h2>
<a href="/Admin/Blog/ExportExcelBlogList" class="btn btn-bitbucket">Download</a>
