@model Entity.Concrete.Writer
@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "WriterLayout";
}

<h1>WriterEditProfile</h1>

<form asp-controller="Writer" asp-action="WriterEditProfile" method="post" class="forms-sample">
    <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Edit Writer Profile Information</h4>
                      <div class="form-group">
                          <input type="text" class="form-control" id="exampleInputName1" asp-for="WriterId" style="display:none;" placeholder="Name">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" asp-for="WriterName" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail3"  asp-for="Mail"  placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword4"  asp-for="Password"  placeholder="Password">
                      </div>
                      <div class="form-group">
                        <label>Writer Image</label>
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">About</label>
                        <textarea class="form-control" id="exampleTextarea1"  asp-for="About"  rows="4"></textarea>
                      </div>
                      <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                  </div>
                </div>
              </div>
</form>