@model Entities.Concrete.MessageWithWriter
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<h1>Message Details</h1>
<form asp-action="MessageDetails" asp-controller="Messages">
    <label>ID</label>
    <input asp-for="MessageId" class="form-control" disabled style="background-color:transparent;">
    <br />
    <label>Subject</label>
    <input asp-for="Subject" class="form-control" disabled   style="background-color:transparent;"/>
    <br />
    <label>Message</label>
    <textarea type="text" class="form-control" asp-for="MessageDetails" 
    rows="4" cols="50" disabled style="background-color:transparent;"></textarea>
    <br />
    <a asp-action="Inbox" class="btn btn-outline-dribbble">Go back to Messages</a>
</form>
