@{
    ViewBag.Title = "title";
    Layout = "AdminLayout";
}

<h1>Ajax</h1>
<br>
<button type="button" id="btnGetList" class="btn btn-outline-primary">Authors List</button>
<button type="button" id="btnGetById" class="btn btn-outline-success">Get Author</button>

<button type="button" id="btnAddWriter" class="btn btn-gradient-dark">Add Author</button>
<button type="button" id="btnUpdateWriter" class="btn btn-outline-warning">Update Author</button>
<button type="button" id="btnDeleteWriter" class="btn btn-outline-danger">Delete Author</button>

<hr />
<div id="writerlist"></div>
<br>
<hr />
<div id="writer">Author</div>
<br>
<hr />
<div>
    <input class="form-control" type="text" id="writerId" placeholder="Enter the Author ID">
</div>
<br>
<hr />
<div>
    <input class="form-control" type="text" id="writerName" placeholder="Enter the Author Name">
    <input class="form-control" type="text" id="writerAbout" placeholder="Enter the Author About">
    <input class="form-control" type="text" id="writerImage" placeholder="Enter the Author Image">
    <input class="form-control" type="text" id="writerMail" placeholder="Enter the Author Mail">
</div>
<hr />


<div>
    <input class="form-control" type="text" id="txtId" placeholder="Enter the Author ID">
</div>


@section scripts
    {
    <script>
        $("#btnGetList").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "GET",
                url: "/Admin/Writer/WriterListAll/",
                success: function (func) {
                    let jsonParse = jQuery.parseJSON(func);
                    let tablehtml = "<table class='table table-bordered'> <tr><th> Author Id</th> <th> Author Name </th> </tr>";
                    $.each(jsonParse, (index, value) => {
                        tablehtml += `<tr><td>${value.WriterId}</td> <td>${value.WriterName}</td></tr>`
                    });
                    tablehtml += "</table>";
                    $("#writerlist").html(tablehtml);
                }
            });
        });

        $("#btnGetById").click(x => {
            let id = $("#writerId").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "GET",
                url: "/Admin/Writer/GetWriterById/",
                data: { writerId: id },
                success: function (func) {
                    let writer = jQuery.parseJSON(func);
                    let getValue = `<table class="table table-bordered"> <tr><th>Author Id</th> <th>Author Full Name</th
                                                        ></tr> <tr><td>${writer.WriterId}</td><td>${writer.WriterName}</td></tr></table>`;
                    $("#writer").html(getValue);
                }
            })
        });


        $("#btnAddWriter").click(function () {
            let writer = {
                WriterName: $("#writerName").val(),
                About: $("#writerAbout").val(),
                Image: $("#writerImage").val(),
                Mail: $("#writerMail").val(),
                Password: $("#writerMail").val(),

            }
            $.ajax({
                type: "POST",
                url: "/Admin/Writer/AddWriter/",
                data: writer,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    if (result) {
                        alert("Author added successfully");
                    }
                    else {
                        alert("Author could not be added");
                    }
                }
            })
        });

        $("#btnDeleteWriter").click(function () {
            let id = $("#txtId").val();
            $.ajax({
                type: "POST",
                url: "/Admin/Writer/DeleteWriter/",
                data: { writerId: id },
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    if (result) {
                        alert("Author deleted successfully");
                    }
                    else {
                        alert("Author could not be deleted");
                    }
                }
            })
        })
    </script>
}
