@model IEnumerable<Entity.Concrete.Comment>

<div class="comment-top">
    <h4>Comments</h4>
    @if (Model.Count() == 0)
    {
        <p>Gösterilecek Yorum yok. İlk yorumu siz yazın</p>
    }

    @foreach (var comment in Model)
    {
        <div class="media">
            <img src="~/CoreBlogTema/web/images/user.png" alt="" class="img-fluid" />
            <div class="media-body">
                <h5 class="mt-0">@comment.UserName</h5>
                <p>
                    @comment.Content
                </p>
            </div>
        </div>
        <br />
    }



</div>