@model Entity.Concrete.Blog
<div class="tech-btm">
    <h4>Sign up to our newsletter</h4>
    <p>We will sent you new blogs</p>
    <form asp-action="SubsribeMail" asp-controller="NewLetters" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <label name=id>@ViewBag.Id</label>
        <input type="submit" value="Subscribe">
    </form>

</div>